<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Mascotas</title>
    <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <div class="container">
        <br>
        <div>
            <a href="inicio_mascota/save/0" class="btn btn-primary">Nuevo</a>
        </div>
        <h2 th:if="${list.isEmpty()}">Aún no hay registros</h2>
        <div th:if="${!list.isEmpty()}">
            <h2>Mascotas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Propietario</th>
                        <th>TipoAnimal</th>
                        <th>Raza</th>
                        <th>Edad</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Eliminar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Mascota : ${list}">
                        <td th:text="${Mascota.nombre}"></td>
                        <td th:text="${Mascota.propietario}"></td>
                        <td th:text="${Mascota.tipo_animal}"></td>
                        <td th:text="${Mascota.raza}"></td>
                        <td th:text="${Mascota.edad}"></td>
                        <td th:text="${Mascota.direccion}"></td>
                        <td th:text="${Mascota.telefono}"></td>

                        <td>
                            <a th:href="@{/inicio_mascota/delete/{id}(id=${Mascota.id})}">Eliminar</a>
                        </td>
                        <td>
                            <a th:href="@{/inicio_mascota/save/{id}(id=${Mascota.id})}">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>