<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Mascotas</title>
    <link href="../static/css/bootstrap-grid.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <div class="container">
        <form action="#" th:action="@{/inicio_mascota/save}" th:object="${mascota}" method="POST">
            <input type="hidden" id="id" th:field="*{id}" />
            <div class="row">
                <div class="col-md-4">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
                </div>
                <div class="col-md-4">
                    <label for="propietario">Dueño</label>
                    <input type="text" class="form-control" id="propietario" th:field="*{propietario}" name="propietario">
                </div>
                <div class="col-md-4">
                    <label for="tipo_animal">Tipo de Animal</label>
                    <input type="text" class="form-control" id="tipo_animal" th:field="*{tipo_animal}" name="tipo_animal">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="raza">Raza</label>
                    <input type="text" class="form-control" id="raza" th:field="*{raza}" name="raza">
                </div>

                <div class="col-md-3">
                    <label for="edad">Edad</label>
                    <input type="number" class="form-control" id="edad" th:field="*{edad}" name="edad">
                </div>
                <div class="col-md-3">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" th:field="*{direccion}" name="direccion">
                </div>
                <div class="col-md-3">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" th:field="*{telefono}" name="telefono">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>

</html>